---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BlogPreview from "../components/BlogPreview.astro";

const articles = await getCollection("blog");
console.log(articles);
---

<Layout title="Blog">
  <main>
    <Header icon="📃" title="Checkout some articles!" content="" />
    {
      articles.map(
        ({ data: { title, category, publishedDate, href, excerpt } }) => (
          <BlogPreview
            title={title}
            category={category}
            date={publishedDate}
            excerpt={excerpt}
            href={href}
          />
        )
      )
    }
  </main>
</Layout>

{
  /* 
# {/* ## Series
# I can link nternally to [my conclusion](#conclusion) on the same page when writing Markdown.
# - [API Versionning](linkurl)
# - [How to deploy your API using Terraform](linkurl)
# - [How to test your REST API](linkurl) */
}
